h2 {
	color: black;
	text-align: center;
}

#body {
	background-color: lightblue;
}

#logo {
	width: 340px;
	height: 400px;
	margin-right: 10px;
	float: left;
}

form {
	margin-bottom: 0px;
}

.login {
	height: 100px;
	width: 250px;
	overflow: hidden;
	float: right;
	background-color: white;
	margin-bottom: 10px;
}

.innerField {
	padding-top: 20px;
}

.signUp {
	height: 290px;
	width: 250px;
	overflow: hidden;
	float: right;
	background-color: white;
}

.rollBar {
	width: 161px;
	float: right;
	background-color: lightgrey;
}
input[type=text]{
	float: right;
	display: inline-block;
}

input[type=password]{
	float: right;
	display: inline-block;
}

input[type=email]{
	float: right;
	display: inline-block;
}

#logInPush {
	clear: right;
	float: right;	
}

.container  {
	margin: auto;
	padding-top: 100px;
	width: 600px;
	height: 400px;
	vertical-align: middle;
}

label {
	display: block;
	margin-bottom: 5px;
}

label > span {
	display: inline-block;
}