h2 {
	color: black;
	text-align: center;
}

#body {
	background-color: lightblue;
}

#logo {
	width: 340px;
	height: 400px;
	margin-right: 10px;
	float: left;
}

.login {
	height: 100px;
	width: 250px;
	overflow: hidden;
	float: right;
	background-color: white;
	vertical-align: middle;
}

.innerField {
	padding-top: 20px;

}

.signUp {
	height: 290px;
	width: 250px;
	overflow: hidden;
	float: right;
	position: relative;
	margin-top: 10px;
	background-color: white	
}

.rollBar {
	width: 161px;
	float: right;
	background-color: lightgrey;
}
input[type=text] {
	float: right;
	display: inline-block;
}

#knappen {
	float: right;
}

.container  {
	margin: auto;
	padding-top: 100px;
	width: 600px;
	height: 400px;
	vertical-align: middle;
}

